body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #1877f2;
}

input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
@keyframes blink {
  10% { color: red; }
  10% { color: orangered; }
  100% { color: Violet; }
}

@keyframes fire {
  10% { opacity: 0.2; }
  10% { opacity: 1; }
  100% { opacity: 0.2; }
}

.prank-text {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 30px;
  animation: blink 1s infinite alternate, fire 1s infinite alternate;
}


button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #166fe5;
}

a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}
